body
{
font-family: 'Poppins', sans-serif;
background-color:rgb(245, 142, 202);
}
.footer
{
height:45px;
width:100%;
text-align:center;
background-color:red;
position:fixed;
bottom:0;
left:0;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight:bold;
}
.form-control
{
width:50%;
}