{% extends 'base.html' %}
{% load static %}
{% block content %}
 <h4 class="text-center fs-4">Shopping Cart</h4>
<div class="container" style="margin-bottom:100px;">
    <div class="row">


        <div class="col-7 ">
            <table class="table table-bordered text-center fs-5">
            <tr>
                <th colspan="5" >Cart Items</th>
            </tr>
                {% for i in c %}
                <tr>
                    <td><img src="{{i.product.image.url}}" height="100px" width="100px"></td>
                    <td>
                        <h6>{{i.product.name}}</h6>

                    </td>
                    <td>
                        <h6>Product Id: {{i.product.id}}</h6>
                        <h6>Unit Price:{{i.product.price}}</h6>
                        <h6>Quantity : {{i.quantity}}*{{i.product.price}}</h6>
                    </td>
                    <td><h6>Sub total :{{i.subtotal}}</h6></td>

                        <td>
                            {% if i.product.stock > 0 %}

                            <a href="{% url 'cart:addtocart' i.product.name %}"><i class="fa-solid fa-circle-plus text-danger fs-5"></i></a>
                    <a href="{% url 'cart:cart_remove' i.product.name %}"><i class="fa-solid fa-circle-minus text-danger fs-5"></i></a>
                    <a href="{% url 'cart:full_remove' i.product.name %}"><i class="fa-solid fa-trash text-danger fs-5"></i></a>

                       {% else %}
                    <a href="{% url 'cart:cart_remove' i.product.name %}"><i class="fa-solid fa-circle-minus text-danger fs-5"></i></a>
                    <a href="{% url 'cart:full_remove' i.product.name %}"><i class="fa-solid fa-trash text-danger fs-5"></i></a>
                    {% endif %}


                        </td>



</tr>
                {% endfor %}
        </table>
        </div>
        <div class="col-4 ms-3" style="position:relative;">
            <table class="table table-bordered">
                <tr>
                    <th colspan="5">Check Out</th>
                </tr>
                <tr><th>Total Amount:<span style="position:absolute;right:20px;">{{total}}</span></th></tr>
            </table>
            <a href="{% url 'cart:orderform' %}" class="btn btn-danger">Place Order</a>
            <a href="{% url 'shop:allcat' %}" class="btn btn-danger" style="position:absolute;right:20px;">Continue shopping</a>
        </div>


    </div>
</div>
{% endblock %}

