{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <img src="{{c.image.url}}" height="400px" width="100%">
</div>

<div class="container-fluid mt-3" style="margin-bottom:100px;">
    <h3 class="text-center fw-bold">{{c.name}}</h3>
    <p style="text-align:justify;line-height:2;">{{c.desc}}</p>

</div>
<center>
<div class="container-fluid mt-3" style="margin-bottom:100px;">
    <div class="row">
        {% for  i in p %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
  <img src="{{i.image.url}}" height="200px" width="100%" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">{{i.name}}</h5>
       <h6 class="card-title text-center">{{i.price}}</h6>

    <a href="{% url 'shop:detail' i.name %}"  class="btn btn-primary">Details</a>
  </div>
</div>

        </div>{% endfor %}
    </div>
</div>
</center>

{% endblock %}